.dropdown__container {
    position: relative;
    width: 230px;
    height: 50px;
    font-family: sans-serif;
    margin: 0 auto;

}

.dropdown__container:focus {
    border: 2px solid #3772FF;
}

.dropdown__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: #333;
    cursor: pointer;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
}
.dropdown__header:focus {
    border: 2px solid #3772FF;
}

.dropdown__options {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 999;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 12px;
    overflow: auto;
    max-height: 60vh;
}

.dropdown__options::-webkit-scrollbar {
    width: 8px;
}

.dropdown__options::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 20px;
}

li {
    padding: 12px;
    color: #333;
}

li:hover {
     background-color: #eee;
    cursor: pointer;
 }

.dropdown__input {
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: bold;
    color: #333;
    width: 80%;
    background: #FCFCFD;
    padding: 0;
}
.dropdown__input:focus .dropdown_header {
    background-color: #ccc;
    color: #fff;
    border: 1px solid red;
}

.dropdown__option.selected {
    background-color: #ccc;
    color: #000;
}

.dropdown__label {
    color: #B1B5C4;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    margin-left: 5px;
}

